@model MVC_Bokhandel.Models.Kunde

@*@{
    ViewBag.Title = "Details";
}*@

<h2>Min profil</h2>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DbBruker.BrukerNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbBruker.BrukerNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poststed.Poststedet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poststed.Poststedet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etternavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fodselsdato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fodselsdato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrukerNavn }) |
    @Html.ActionLink("Min side", "MinSide")
</p>
